<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
        <!-- test ajax send the form format to server -->

      <!-- dialog form -->
      <!-- todo delete -->
      <i class="fa-solid fa-trash"></i>


      <button
        type="button"
        class="btn"
        data-bs-toggle="modal"
        data-bs-target="#form-modal-bulletin"
        data-bs-date="2020/01/01"
        data-bs-info="info"
      >
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
      <div
        class="modal fade"
        id="form-modal-bulletin"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Edit Information
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="bulletin-date" class="col-form-label"
                    >DATE:</label
                  >
                  <input type="text" class="form-control" id="bulletin-date" />
                </div>
                <div class="mb-3">
                  <label for="bulletin-info" class="col-form-label"
                    >INFO:</label
                  >
                  <textarea class="form-control" id="bulletin-info"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button id="submit" type="button" class="btn btn-primary">Change</button>
            </div>
          </div>
        </div>
      </div>

</body>
</html>