<!-- ref: https://medium.com/swlh/how-to-create-your-first-login-page-with-html-css-and-javascript-602dd71144f1 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="../static/css/login.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">Login</h1>

    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid ID <span id="error-msg-second-line">and/or password</span></p>
    </div>

    <form id="login-form">
      <input type="text" name="id" id="id-field" class="login-form-field" placeholder="ID" value="user_id">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password" value="password">
      <input type="submit" value="Login" id="login-form-submit">
    </form>

  </main>
</body>
<script src="/static/js/http.js"></script>
<script src="/static/js/login.js"></script>

</html>