<!-- ref: https://medium.com/swlh/how-to-create-your-first-login-page-with-html-css-and-javascript-602dd71144f1 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="../static/css/login.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <main id="main-holder">
    <button onclick="is_logged_in()">logged in check</button>
    <button onclick="logout()">logout</button>
    <h1 id="login-header">Login</h1>

    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid ID <span id="error-msg-second-line">and/or password</span></p>
    </div>

    <form id="login-form">
      <input type="text" name="id" id="id-field" class="login-form-field" placeholder="ID" value="user_id">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password" value="password">
      <input type="submit" value="Login" id="login-form-submit">
    </form>

  </main>
</body>
<!-- <script src="/static/js/http.js"></script> -->

<script>
var HTTP_STATUS_CODE = {
  ok: 200,
  // StatusCreated              = 201,
  // StatusAccepted             = 202,
  // StatusNonAuthoritativeInfo = 203,
  noContent: 204,
  // StatusResetContent         = 205,
  found: 302,
  badRequest: 400,
  unauthorized: 401,
  notFound: 404,
  statusInternalServerError: 500,
};
const loginForm = document.getElementById("login-form");
const loginButton = document.getElementById("login-form-submit");
const loginErrorMsg = document.getElementById("login-error-msg");
var loginUrl = `/api/v1/auth/login`;

loginButton.addEventListener("click", (e) => {
  e.preventDefault();
  const id = loginForm.id.value;
  const password = loginForm.password.value;
  if (id && password) {
    login_api(id, password);
  } else {
    loginErrorMsg.style.opacity = 1;
  }
});

// todo: stored session(token), but can't get value for other path
function login_api(id, password) {
  axios
    .post(loginUrl, {
      id: id,
      password: password,
    })
    .then((res) => {
      console.log("login api success");
      console.log("data=", res.data);
      console.log("status=", res.status);
      if (res.status == HTTP_STATUS_CODE.noContent) {
        // res.headers.authorization
        // todo: get domain for redirect
        window.location.replace("/")
        sessionStorage.setItem('Authorization', res.headers.authorization)
        console.log("login success!!!");
        // todo: get domain -> to domain url
        // window.location.replace("http://<?php echo $Domain ?>");
      }
    })
    .catch((err) => {
      console.error("login error:", err);
      loginErrorMsg.style.opacity = 1;
      switch (err.response.status) {
        case HTTP_STATUS_CODE.notFound:
          console.error("login error: path not found");
          break;
        case HTTP_STATUS_CODE.badRequest:
          console.error("login error: input error");
          break;
        case HTTP_STATUS_CODE.statusInternalServerError:
          alert("server has some problem");
          break;
        default:
          alert("unknown code");
          break;
      }
    });
}

function is_logged_in() {
  axios
    .get("/api/v1/test",{headers:{"Authorization":getAuthorization()}})
    .then((res) => {
      console.log("login api success");
      console.log("data=", res.data);
      console.log("status=", res.status);
      if (res.status == HTTP_STATUS_CODE.ok) {
        console.log("login success!!!");
      }
    })
    .catch((err) => {
  console.error(err);
  
    });
}
function logout() {
  axios
  .post("/api/v1/auth/logout",{},{headers:{"Authorization":getAuthorization()}})

    .then((res) => {
      console.log("logout status code=", res.status);
      if (res.status == HTTP_STATUS_CODE.noContent) {
        console.log("login success!!!");
        sessionStorage.removeItem('Authorization')
        // todo: get domain -> to domain url
        // window.location.replace("http://<?php echo $Domain ?>");
      }
    })
    .catch((err) => {
  console.error(err);
  
    });
}
function getAuthorization(){
  return sessionStorage.getItem('Authorization')
}
</script>

</html>