#PDF_Button a{
    border: none;
    border-radius: 10px;
    padding: 15px 15px;
}
#PDF_Button a i:hover{
    opacity: 0.9;
}
#PDF_Button a:nth-child(1){background-color: DodgerBlue}
#PDF_Button a:nth-child(2){background-color: #e2e6ff
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: auto; /* Full height */
    padding: auto 5% auto 5%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #1d1d1d;
    margin: 0 auto; /* 5% from the top, 15% from the bottom and centered */
    border: 2px solid #ff7810;
    border-radius: 50px;
    width: 95%;
    height: 100%;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #ffc274;
    font-size: 35px;
    font-weight: bold;
}

.close:hover{
    color: #ffffff;

}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}