select {
  height: 100%;
  /* TODO tmp bg color */
  background-color: #36c55a;
  /* background-color: rgb(50, 50, 50); */
  margin: 5px;
  flex: 1;
  justify-content: center;
  align-items: center;
  /*
  position: fixed;
  z-index: 2;
  overflow: hidden;
  text-align: center;
  padding: 0; */
}
select hr {
  margin: 10px auto;
  width: 70%;
  border-color: #f9830d;
}
select #side-bar-options-box {
  display: flex;
  flex-direction: column;
  /* width: 100%;
  text-align: left;
  margin-left: 10%; */
}
.side-bar-option {
  flex: 1;
  background-color: #f08bc3;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  /* height: 60px;
  text-align: left;
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
  font-weight: bolder;
  border: none; */
}
/*.side-bar-option:hover{*/
/*background-color: rgba(60, 60, 60,0.9);*/
/*}*/
.side-bar-option span {
  /*width: 70%;*/
  margin-left: 5%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
  border: none;
  color: #f2f2f2;
  font-size: 16px;
}

.side-bar-option span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.3s;
}

.side-bar-option:hover span {
  padding-right: 18px;
  color: #e48936;
  font-size: 18px;
}

.side-bar-option:hover span:after {
  opacity: 1;
  right: 0;
}
.BottomText {
  font-size: 9px;
  text-align: center;
  color: #ffffff;
}

/*.side-bar-option:after {*/
/*content: "";*/
/*background: #90EE90;*/
/*display: block;*/
/*position: absolute;*/
/*padding-top: 300%;*/
/*padding-left: 350%;*/
/*margin-left: -20px!important;*/
/*margin-top: -120%;*/
/*opacity: 0;*/
/*transition: all 0.8s*/
/*}*/

/*.side-bar-option:active:after {*/
/*padding: 0;*/
/*margin: 0;*/
/*opacity: 1;*/
/*transition: 0s*/
/*}*/
