#LoginPanel2 hr{
    width: 95%;
    border: 2px solid #8f8f8f;
    border-radius: 15px;
}
#InputData_Div{
    font-weight: bold;
}
#InputData_Div input{
    margin: 10px auto;
    border:none;
    border-radius: 18px;
}
#InputData_Div input #password:hover{
    background: black;
}
/*#password{*/
    /*background: black;*/
/*}*/