#divMenu {
  height: 60px;
  width: 0px;
  display: none;
  background-color: rgba(221, 102, 8, 0.85);
  color: #000000;
  border-radius: 25px;

  padding: 0;
  margin-left: 1.5%;
  margin-right: 0.5%;
  margin-top: 4px;
}
#divMenu.h1 {
  font-size: 14px;
  color: white;
}

.dropbtn {
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(100);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover {
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #191919;
  min-width: 160px;
  border-radius: 10px;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 18px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(82, 82, 82, 0.4);
  color: rgb(255, 113, 23);
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
